.text_center{
    text-align: center;
}
.container
{
    background-color: black;
    padding: 4px;
    border-radius: 20px;
    margin: auto;
    width: 228px;
    box-shadow: 5px 5px 8px rgb(44, 43, 43);
}
.btn
{
   height: 3rem;
   width: 3rem;
   margin: 0.15rem;
   border-radius:20px;
   cursor: pointer;
   color: white;
   box-shadow: 1px 1px 1px rgb(134, 132, 132);
   
}
.btn:hover{
    box-shadow: none;
}
input{
    width: 13.5rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 15px;
    border: 2px solid black;
}
.yellow{
    background-color: rgb(236, 142, 19);
}
.gray{
    background-color: rgb(20, 19, 19);
}
.white{
    background-color: rgb(50, 51, 53);
}
.width
{
    width: 108px;
}
.red
{
    background-color: rgb(173, 41, 32);
}